<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.fred.repository.LikeDao">

    <select id="getUserLike" parameterType="Long" resultType="Long">
        select article_id from t_like where user_id = #{userId}
    </select>

    <insert id="userLikeAdd" parameterType="Long" >
        insert into t_like(user_id,article_id)
        values(#{userId},#{articleId})
    </insert>


    <delete id="userLikeRemove" parameterType="Long" >
        delete from t_like
        where user_id = #{userId}
        and article_id = #{articleId}
    </delete>



</mapper>