<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.fred.repository.MarkDao">

    <select id="getUserMark" parameterType="Long" resultType="Long">
        select article_id from t_mark where user_id = user_id = #{userID}
    </select>


    <insert id="userMarkAdd" parameterType="Long" >
        insert into t_mark(user_id,article_id)
        values(#{userId},#{articleId})
    </insert>

    <delete id="userMarkRemove" parameterType="Long" >
        delete from t_mark
        where user_id = #{userId}
        and article_id = #{articleId}
    </delete>



</mapper>