<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.fred.repo.CommentRepo">

    <resultMap id="CommentBaseResultMap" type="com.fred.entities.Comment">
        <id column="comment_id" property="commentId" jdbcType="BIGINT"/>
        <result column="user_id" property="userID" jdbcType="BIGINT"/>
        <result column="article_id" property="articleID" jdbcType="BIGINT"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="nickname" property="userNickName" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
    </resultMap>

<!--自动将 自增得到的userID写回之前的object中-->
    <insert id="saveComment" parameterType="Comment">
        insert into t_comment(user_id,article_id,comment) values(#{userID},#{articleID},#{comment});
    </insert>

    <select id="getCommentByArticleId" parameterType="Long" resultMap="CommentBaseResultMap">
        SELECT * FROM v_comment_detail
        WHERE article_id = #{articleID};
    </select>

    <select id="getCommentByUserId" parameterType="Long" resultMap="CommentBaseResultMap">
        SELECT * FROM v_comment_detail
        WHERE user_id = #{userID};
    </select>

    <select id="getComments" parameterType="Long" resultMap="CommentBaseResultMap">
        SELECT * FROM v_comment_detail;
    </select>

    <delete id="deleteByArticleId" parameterType="Integer">
        delete from t_comment
        where article_id = #{articleID};
    </delete>

    <delete id="deleteComment" parameterType="Integer">
        delete from t_comment
        where comment_id = #{commentId};
    </delete>

</mapper>