<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.fred.repo.CommentRepo">

    <resultMap id="CommentBaseResultMap" type="com.fred.entities.Comment">
        <id column="user_id" property="userID" jdbcType="BIGINT"/>
        <id column="article_id" property="userID" jdbcType="BIGINT"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="nickname" property="userNickName" jdbcType="VARCHAR"/>
    </resultMap>

<!--自动将 自增得到的userID写回之前的object中-->
    <insert id="saveComment" parameterType="Comment">
        insert into t_comment(user_id,article_id,comment) values(#{userID},#{articleID},#{comment});
    </insert>

    <select id="getCommentByArticleId" parameterType="Long" resultMap="CommentBaseResultMap">
        SELECT * FROM v_comment_detail
        WHERE article_id = #{articleID};
    </select>

</mapper>