<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.fred.repository.ArticleDao">

    <resultMap id="ArticleBaseResultMap" type="com.fred.entities.Article">
        <id column="article_id" property="articleId" jdbcType="BIGINT"/>
        <id column="author_id" property="authorId" jdbcType="BIGINT"/>
        <id column="type" property="type" jdbcType="BIGINT"/>
        <id column="title" property="title" jdbcType="VARCHAR"/>
        <id column="read_num" property="readNum" jdbcType="BIGINT"/>
    </resultMap>
    <!--自动将 自增得到的userID写回之前的object中-->
    <insert id="insertArticle" parameterType="Article" useGeneratedKeys="true" keyProperty="articleId">
        insert into t_article(author_id,title)
        values(#{authorId},#{title});
    </insert>

    <insert id="updateArticle" parameterType="Article" useGeneratedKeys="true" keyProperty="articleId">
        update t_article
        set title=#{title}
        where article_id = #{articleId};
    </insert>

    <select id="selectArticleByNum" parameterType="Long" resultMap="ArticleBaseResultMap">
        select * from t_article limit #{start},#{num};
    </select>

    <update id="readNumAdd" parameterType="Long">
        UPDATE t_article SET read_num=read_num+1 WHERE article_id=#{articleId};
    </update>


</mapper>